<p>
  <%= @user.name %>：欢迎加入
  <a href="https://github.com/tech-gamers/">
    【玩儿技术】社区！
  </a>
</p>
<p>
在这里找到志同道合的技术热爱者一起享受创造的乐趣！
社区网站正在从零开始搭建当中。我们需要你的协助！
</p>

<ul>
  <li>加入我们的<a href="https://join.slack.com/t/w1594707327-wme701731/shared_invite/zt-fqc09gau-udUOCoJChUZ_L40euEG0Bg">Slack频道!!!</a></li>
  <li>在<a href="https://github.com/tech-gamers/ideas/issues">这里</a>参与正在进行中的项目或者发布新想法！</li>
  <li>扫码加入微信群</li>
</ul>
<img src="/wechat.jpeg">

<% if @user.auths.find_by(provider: 'github').email == 'jeremyrobturtle@gmail.com' %>
  <% User.all.each do |user| %>
    <ul>
      <li>name: <%= user.name %></li>
      <% user.auths.each do |auth| %>
        <li><%= auth.provider %>: <%= auth.username %></li>
        <li>email: <%= auth.email %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
