<!DOCTYPE html>
<html>
  <head>
    <title>Backend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <% if current_user %>
      <p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
    <% else %>
      <% if %w[/sign_up /sign_in].all?{ |p| !request.fullpath.end_with?(p) } %>
        <p><%= link_to('Sign Up/Log In', new_session_path) %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
