<!DOCTYPE html>
<html>
  <head>
    <title>Backend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <% if current_auth %>
      <p><%= link_to('Logout', destroy_auth_session_path, method: :delete) %></p>
    <% elsif %w[/sign_up /sign_in].all?{ |p| !request.fullpath.end_with?(p) } %>
      <p><%= link_to "Sign Up/Log In", auth_github_omniauth_authorize_path %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
